.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  overflow-y: scroll;

  padding: 24px;

  box-shadow: 0 2px 8px #333;
  border-radius: 8px;

  transform: translate(-50%, -50%);

  background: #fff;

  z-index: 10;

  .modal__item {
    .modal__header {
      position: relative;
      bottom: 15px;

      .close {
        color: white;
        border: none;
        background-color: #24407f;
        position: relative;
        float: right;
        cursor: pointer;
      }
    }
  }
}

.overlay {
  width: 100vw;
  height: 100vh;

  opacity: 0.5;
  background: #000;

  position: fixed;
  top: 0;
  left: 0;
}

.sm {
  width: 540px;
  max-height: 80%;
}
.md {
  width: 720px;
  max-height: 80%;
}
.lg {
  width: 960px;
  max-height: 80%;
}
