<ng-container *ngIf="isOpen">
  <section class="modal" @modal>
    <div class="modal__item" [class]="size" *ngFor="let modal of modals">
      <ng-container
        [ngTemplateOutlet]="modal?.customHeader?.templateRef || defaultHeader"
      ></ng-container>

      <ng-template #defaultHeader>
        <header class="modal__header">
          <button class="close" (click)="modalService.close()">
            <i class="ri-close-line"></i>
          </button>
          <ng-container *ngTemplateOutlet="modal.title.templateRef">
          </ng-container>
        </header>
      </ng-template>

      <div class="modal__content">
        <ng-container
          *ngTemplateOutlet="modal.content.templateRef"
        ></ng-container>
      </div>
    </div>
  </section>
  <div @overlay class="overlay"></div>
</ng-container>
