<div>
  <div>
    <h1>Modal</h1>
    <button (click)="open('modal-1')">Open Modal 1</button>
    <button (click)="open('modal-2')">Open Modal 2</button>

    <div class="container">
      <div
        class="tooltip"
        tooltip-title="Eu sou um Tooltip na parte superior"
        tooltip-position="top"
      >
        Tooltip em cima
      </div>
      <div
        class="tooltip"
        tooltip-title="Eu sou um Tooltip na parte esquerda"
        tooltip-position="left"
      >
        Tooltip na esquerda
      </div>
      <div
        class="tooltip"
        tooltip-title="Eu sou um Tooltip na parte direita"
        tooltip-position="right"
      >
        Tooltip na direita
      </div>
      <div
        class="tooltip"
        tooltip-title="Eu sou um Tooltip na parte inferior"
        tooltip-position="bottom"
      >
        Tooltip em baixo
      </div>
    </div>
  </div>

  <app-modal id="modal-1" size="sm">
    <modal
      title="Modal"
      subTitle="Novo Modal"
      icon="ri-home-fill"
      iconPosition="left"
    >
      <ng-template appModalContent>
        <app-teste></app-teste>
      </ng-template>
    </modal>
  </app-modal>

  <app-modal id="modal-2" size="lg">
    <modal>
      <ng-template appModalHeader>
        <header>
          <h1>Modal Teste</h1>
          <i class="ri-home-fill"></i>
        </header>
      </ng-template>

      <ng-template appModalContent>
        <app-teste></app-teste>
      </ng-template>
    </modal>
  </app-modal>
</div>
