<form action="" [formGroup]="form">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat neque
    quaerat maiores quo, et nihil repudiandae voluptates consectetur reiciendis
    culpa, dolorem, sunt vel ad libero labore doloribus voluptatum voluptatem?
    Eaque?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat neque
    quaerat maiores quo, et nihil repudiandae voluptates consectetur reiciendis
    culpa, dolorem, sunt vel ad libero labore doloribus voluptatum voluptatem?
    Eaque?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat neque
    quaerat maiores quo, et nihil repudiandae voluptates consectetur reiciendis
    culpa, dolorem, sunt vel ad libero labore doloribus voluptatum voluptatem?
    Eaque?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat neque
    quaerat maiores quo, et nihil repudiandae voluptates consectetur reiciendis
    culpa, dolorem, sunt vel ad libero labore doloribus voluptatum voluptatem?
    Eaque?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat neque
    quaerat maiores quo, et nihil repudiandae voluptates consectetur reiciendis
    culpa, dolorem, sunt vel ad libero labore doloribus voluptatum voluptatem?
    Eaque?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat neque
    quaerat maiores quo, et nihil repudiandae voluptates consectetur reiciendis
    culpa, dolorem, sunt vel ad libero labore doloribus voluptatum voluptatem?
    Eaque?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat neque
    quaerat maiores quo, et nihil repudiandae voluptates consectetur reiciendis
    culpa, dolorem, sunt vel ad libero labore doloribus voluptatum voluptatem?
    Eaque?
  </p>
  <p>
    <input type="text" formControlName="teste" />
    <button type="button" (click)="close(teste)">Close</button>
  </p>
</form>
