<form action="" [formGroup]="form">
  <input type="text" formControlName="teste" />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae delectus
    quia nulla quis odio ad voluptates mollitia culpa quibusdam tempore
    temporibus vero, nostrum distinctio, sit quo, inventore possimus unde eaque.
  </p>

  <button type="button" (click)="close(teste)">Close</button>
</form>
